@model IEnumerable<SporsmalOgSvar>
@inject ISporsmalOgSvarRepository _sporsmalOgSvarRepository

@{
    ViewBag.Title = "Spørsmål og svar";
}


<div style="text-align:center; margin-bottom:50px; margin-top:50px">
    <h1>Spørsmål Og Svar</h1>
</div>

<div style="text-align:center; margin-bottom:50px; margin-top:20px">
<h5>Velkommen til Finnreise's FAQ side. Her finner du spørsmål og svar relatert til vår nettside.</h5>
<h5>Dersom du ikke finner ditt spørsmål kan du sende inn et spørsmål til oss.</h5>
</div>

<div>
    <h3>Alle spørsmål</h3>
</div>

@foreach (var sporsmalOgSvar in Model)
{
<div id="accordion">
    <div class="card">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#h@(sporsmalOgSvar.Id)" aria-expanded="false" aria-controls="h@(sporsmalOgSvar.Id)" data-parent="#accordion">
            @sporsmalOgSvar.Sporsmal
        </button>
        </h5>
    </div>
    <div id="h@(sporsmalOgSvar.Id)" class="collapse" aria-labelledby="headingTwo">
        <div class="card-body">
            @sporsmalOgSvar.Svar
            <div style="float:right">
                <button type="button" class="btn btn-sm btn-success"><i class="fa fa-thumbs-up" ng-click="incrementLikes(technology)"></i></button>
                0
                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-thumbs-down" ng-click="incrementDislikes(technology)"></i></button>
                0
            </div>
        </div>
    </div>
    </div>
</div>
}

<div style="text-align:center; margin-top:120px; margin-left:20%; margin-right:20%">
<h5>Fant du ikke spørsmålet ditt? Send inn ditt spørsmål til oss så svarer på ditt spørsmål så fort som mulig.</h5>
</div>

<div style="text-align:center; margin-bottom:120px">
    <a asp-area="" asp-controller="Home" asp-action="LagSporsmal" class="btn btn-primary btn-lg">Send inn et spørsmål her</a>
</div>



@section Scripts {
    <sricpt src="/js/site.js"></sricpt>
}