@model IEnumerable<SporsmalOgSvar>

@{
    ViewBag.Title = "FAQ side";
}

<div style="text-align:center">
<h1>Hva lurer du?</h1>
</div>

@foreach (var sporsmalOgSvar in Model)
{
<div id="accordion">
    <div class="card">
    <div class="card-header" id="@sporsmalOgSvar.Id" style="text-align:center">
        <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            
                @sporsmalOgSvar.Sporsmal
           
        </button>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
           
                @sporsmalOgSvar.Svar
            
        </div>
    </div>
    </div>
</div>

}